body, html { min-height: 100%; }

body {
  background: url(https://picfiles.alphacoders.com/163/thumb-1920-163749.jpg) center no-repeat;
  background-size: cover;
  background-color: #444;
}
.top{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  height: 50px;
  width: 1000px;
  border-style: solid;
  border-width: 11px;
  border-radius: 5px;
  border-color: rgb(170, 23, 23);
  border-image: url(https://i.pinimg.com/originals/9b/71/ed/9b71ed43132660b913889aadfd70638b.png) 10 round;
  background: url(https://picfiles.alphacoders.com/163/thumb-1920-163749.jpg) center no-repeat;
  background-size: cover;
  background-color: #444;
}

.top > button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 2px;
  /* margin-bottom: ; */
  color: rgb(32, 31, 54);
  background-color: rgb(143, 40, 40);
  border: none;
  border-radius: 4px;
  box-shadow: 0 0.5px rgba(0, 0, 0, 0.561);
}
.top > button:hover {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 2px;
  /* margin-bottom: ; */
  color: rgb(32, 31, 54);
  background-color: rgb(143, 40, 40);
  border: none;
  border-radius: 4px;
  box-shadow: 0 0.5px rgba(0, 0, 0, 0.561);
}

table{
  margin-left: 50px;
  margin-right: 2px;
  text-align: center;
  color: red;
  text-shadow: 3px 3px 5px black;
  background-color: rgba(4, 26, 36, 0.767);
  width: 500px;
  height: 50px;
  border-radius: 6px;
}

input{
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
  margin-right: 2px;
  background: url(https://www.screenja.com/static/img/thumbs/stranger-things-1-normal-636.png) center no-repeat;
  height: 30px;
  background-position: center;
  background-size: cover;
}
input:hover{
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
  margin-right: 2px;
  background: url(https://64.media.tumblr.com/b32bae4a6663201345e4e2b2b0d0a350/tumblr_ohfmgxKHfN1tloukjo2_250.jpg) center no-repeat;
  background-position: center;
  background-size: cover;
}

select{
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
  margin-right: 2px;
}

.hand {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  border-style: solid;
  width: 1000px;
  height: 800px;
  border-width: 12px;
  border-radius: 10px;
  border-color: rgba(175, 14, 14, 0.87);
  border-image: url(https://i.pinimg.com/originals/9b/71/ed/9b71ed43132660b913889aadfd70638b.png) 10 round;
  background-color: rgba(0, 0, 0, 0.924);
}

.stack {
  width: 999;
  height: 500px;
}

.play-cards {
  display: block;
  width: 1000px;
  height: 290px;
  background: url(https://jooinn.com/images/red-velvet.jpg) center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  border-top-style: solid;
  border-width: 11px;
  border-radius: 5px;
  border-image: url(https://i.pinimg.com/originals/9b/71/ed/9b71ed43132660b913889aadfd70638b.png) 11 round;
  background-color: rgb(31, 2, 7);
  border-top-color: blueviolet;
}
.options {
  display: flex;
  width: 999px;
  height: 75px;
}

.options > button:hover {
  margin: 10px;
  width: 75px;
  height: 50px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background: url(https://images.immediate.co.uk/production/volatile/sites/3/2017/10/ST2_Vertical-Main_PRE_US-57ae581.jpg?quality=90&resize=620%2C413) center no-repeat;
  background-size: cover;
  background-color: #444;
  border-radius: 15px;
  box-shadow: 0 2px rgba(255, 255, 255, 0.561);
}
.options > button{
  margin-top: 10px;
  margin-left: 10px;
  padding: 13px;
  color: rgb(167, 161, 255);
  background: url(https://pyxis.nymag.com/v1/imgs/b30/0ba/3fb9f492524bb6d3fb73f16018224c1a66-07-stranger-things-vfx-1.2x.w710.jpg) center no-repeat;
  background-size: cover;
  background-color: #444;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0.5px rgba(0, 0, 0, 0.561);
}
.hidden{
  display: none;
}

.hidden-hud{
  display: none;
}

.bet {
  margin-left: 10px;
}

.bet > input {
  width: 40px;
  background-image: none;
  background-color: rgb(224, 20, 20);
  color: black;
}
.bet > button {
  margin-top: 30px;
}

.hidden-wager {
  display: none;
}

#number{
  margin-left: 10px;
}

.cards {
  display: flex;
}
.card {
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-left: 10px;
  width: 133px;
  height: 200px;
  background: no-repeat;
  background-size: 133px 200px;
  border-style: solid;
  border-radius: 10%;
  border-width: 1px;
  border-color: rgb(187, 43, 43);
 
}
