body {
  background-color: rgb(33, 35, 38);
}
.hand {
  margin: auto;
  height: 800px;
  width: 99%;
  border-style: solid;
  border-width: 8px;
  border-color: black;
  background-color: rgba(25, 105, 17, 0.883);
}

body > canvas > div.play-cards {
  display: flex;
  width: 200px;
  height: 160px;
  border-width: 1px;
  border-color: black;
}
.card {
  background-color: cornsilk;
}